/* font faces */
@font-face {
    font-family: Gilroy-Bold;
    src: url(./texts/gilroy/Gilroy-Bold.ttf);
    font-weight: bold;
  }
@font-face {
    font-family: Gilroy-Medium;
    src: url(./texts/gilroy/Gilroy-Medium.ttf);
  }
@font-face {
    font-family: Gilroy-SemiBold;
    src: url(./texts/gilroy/Gilroy-SemiBold.ttf);
  }

  
  .container {
    position: relative;
    width: 100vw;
    /* height: 100vh; */
  }
  
  .container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../Styles/assets/images/unsplash_Evp4iNF3DHQ.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -3; /* Adjust the z-index to control the stacking order */
  }
  
  .container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../Styles/assets/images/Untitled-1 2.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -2; /* Adjust the z-index to control the stacking order */
  }
  .BackgroundOne{
    width: 100%;


    /* overflow-x: hidden; */

}
.BackgroundTwo{
    /* position: absolute; */
    overflow-x: hidden;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}
.hero_section{
    margin-top: 0;
    padding-top: 20px;
}
.container_nav{
    display: flex;
    gap: 100px;
}
.Header{
    /* position: absolute; */
    display: inline-block;
    font-size: 30px;
    font-family: Gilroy-Bold;
    padding-bottom: 20px;
    padding-top: 70px;

}
.form{
    z-index: 9999;
    display: inline-block;
    background-color: #CBD6E0;
    width: fit-content;
    padding: 30px;
    font-family: Gilroy-Medium;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.095);
    margin-bottom: 100px;
}
#countrySelect{
    width: 460px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: white;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.first_section, .second_section, .third_section, .fourth_section, .fifth_section,.sixth_section,.seventh_section,.eight_section{
    display: flex;
    justify-content: center;
    text-align: left;
    gap: 20px;
    margin-top: 20px;
    font-size: 15px;
}


.input-field{
    width: 440px;
    /* height: 27px; */
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 10px;
}
.select-field{
    width: 460px;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    /* padding: 20px; */
}
.fname, .lname{
    width: 200px;
    /* height: 25px; */
}
.Company{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.first_name, .last_name, .Company, .Businessname, .phone_number, .job, .Company_Size, .use_case{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.Businessname{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.phone_number{
     text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.job{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.checklist{
    text-align: left;
    font-size: 12px;
    color: #595D64;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    inline-size: 450px;
}
.Submit{
    background-color: #005AE2;
    border-radius: 20px;
    border: none;
    color: white;
    width: 100%;
    padding: 12px 24px 12px 24px;
    margin-top: 20px;
    font-size: 15px;
}
/* .main_footer{
    padding-top: 100px;
} */